
*.bak
water_intake_log.txt
settings.json
water_intake_log.txt
/build
WaterReminderApp.spec
/dist
Source Code.zip
settings.json
settings.json
settings.json
/.venv
goi-goi-toi-cong-chuyen.mp3
migrate_log.py
